.create-container {
	.checkbox-container {
		margin-top: 10px;
		.label {
			float: left;
			display: inline-block;
		}
		.checkbox {
			display: inline-block;
			float: right;
			border: 1px solid black;
			width: 20px;
			height: 20px;
		}
		.age-btn {
			width: 24px;
			height: 24px;
			line-height: 24px;
			text-align: center;
			font-size: 10px;
			margin-left: 10px;
		}
		.selected {
			background-color: rgba(27, 240, 104, 0.3);
		}
	}
}