.timeline-container {
  .timeline-selector {
    display: flex;
    align-items: center;
    .timeline-btn {
      padding: 5px 7px 5px 7px;
      border: 1px solid black;
      margin-right: 10px;
      cursor: pointer;
      &.selected {
        color: white;
        background-color: black;
      }
    }
  }
  .granularity-selector {
    margin: 10px 0px 10px 0px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .granularity-btn {
      cursor: pointer;
      padding: 0px 5px 0px 5px;
      &.selected {
        font-weight: bold;
        background-color: rgba(27, 240, 104, 0.3);
      }
    }
  }
}